 @import 'layout.css';
 /*----------section1----------*/
 main {
    display: flex;
    width: 100%;
}

.box_video {
    margin-top: 80px;
    width: 85%;
    text-align: center;
    position: relative;
}

.box_video h2 {
    position: absolute;
    width: 70%;
    top:20px;
    left:0;
    right:0;
    margin: auto;
}

.box_video video {
    width: 100%;
}

.content {
    align-self: center;
    width: 50%;
    transform: translateX(-30%);
}

.content h4 {
    color: #8EDDF9;
    margin-bottom: 25px;
}

.content h3 {
    color: white
}

.content p {
    width: 75%;
    margin-bottom: 40px;
}
/*首屏平板版*/
@media (min-width:576px) and (max-width:768px){
    main{
        margin-top: 30px;
        width: 100%;
    }
    .box_video{
        /* width: 90%; */
        margin: 0 auto;
    }
    .content{
        transform: translateX(-15%);
    }
}
/*首屏手機版*/
@media (max-width:575px){
    main{
        flex-wrap: wrap;
    }
    .box_video{
        width: 100%;
        margin-top: 0px;
    }
    .content{
        width: 90%;
        transform: translateX(0);
        margin: 0 auto;
    }
}
/*----------section2*----------/
/* 太空船區 */
.abt_sec2 h4 {
    margin-top: 100px;
    margin-left: 150px;
    position: relative;
    text-shadow: 2px 2px 3px #666;
}

.abt_sec2 h4::after {
    content: "";
    display: block;
    position: absolute;
    width: 9.5rem;
    height: 1.2rem;
    left: 0.8rem;
    top: 0.7rem;
    background-color: #8EDDF9;
    box-shadow: 2px 2px 3px #8EDDF9;
    z-index: -1;
}

.abt_sec2 h4:last-of-type::after {
    width: 11rem;
}

.box_cards {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    padding: 0px 120px;
}

.box_cards .card {
    width: 300px;
    text-align: center;
    background-color: white;
}

.box_cards .card .bg_img {
    position: relative;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.box_cards .card .bg_img::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/about/hyper.gif);
    background-position: center;
    transform: scale(1);
    opacity: 0;
}

.card .bg_img img {
    position: absolute;
    width: 60%;
    max-height: 360px;
    z-index: 1;
    transform: translateY(0);   
} 

.box_cards .card:nth-of-type(3) img {
    width: 40%;
    margin: 0 auto;
}

.card p:nth-of-type(1) {
    font-weight: bold;
    margin-top: 20px;
}

.card p {
    color: #666
}

.card p:last-of-type {
    width: 75%;
    margin: 0 auto;
}

.card a {
    margin-bottom: 20px;
    color: #8EDDF9;
    padding: 8px 10px;
    font-size: 12px;
}
/*ship平板版*/
@media (min-width:576px) and (max-width:768px){
    .abt_sec2 h4{
        margin-top: 50px;
        margin-left: 45px;
    }
    .box_cards{
        width: 100%;
        margin-top: 15px;
        padding: 0;
    }
    .box_cards .card{
        width: 230px;
    }
    .card p:nth-of-type(1){
        margin-top: 10px;
    }
    .card a{
        margin-bottom: 10px;
    }
    .box_cards .card .bg_img{
        height: 300px;
    }
}
/*ship手機版*/
@media (max-width:575px){
    .abt_sec2 h4{
        margin-top: 40px;
        margin-left: 20px;
    }
    .box_cards{
        display: block;
        margin-top: 15px;
        padding: 0;
    }
    .box_cards .card{
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .card .bg_img img{
        width: 40%;
    } 
    .box_cards .card:nth-of-type(3) img{
        width: 28%;
    }
  
}

/* 太空船動畫 */
@keyframes shipsMove{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }

}
/*card背景滑過動畫*/
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
}
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.card .bg_img:hover:after{
    animation: 
    opacity 2s forwards,scale 2s infinite forwards
 
}
.card .bg_img:hover img{
    animation: shipsMove 3s ease-in-out infinite; 
}

/*read more滑過動畫*/
.card a i {
    transition: all .5s;
}

.card a:hover i {
    transition: all 1s;
}

.card a i.fixed {
    transform: translate(-100%);
}

.card a:hover .arrow {
    animation: toRight 1.3s ease infinite;
}

.card a:hover .arrow_fixed {
    animation: toRight_fixed 1.3s ease infinite;
}

@keyframes toRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    5% {
        transform: translateX(-0.1rem);
    }

    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes toRight_fixed {
    5% {
        opacity: 0;
    }

    20% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

/* 太空人區 */
.box_men {
    display: flex;
    margin-top: 40px;
    padding: 0 110px;
    justify-content: center;
}

.men_img {
    text-align: center;
}

.box_img {
    overflow: hidden;
    max-width: 235px;
}

.men_img:hover img {
    transform: scale(1.3);
    transition: .8s;
}

.box_men img {
    width: 95%;
    margin: 0 auto;
}

.box_men p {
    font-weight: bold;
    margin: 10px auto;
}

/*太空人平板版*/
@media (min-width:576px) and (max-width:768px){
    .box_men{
        margin-top: 15px;
        padding: 0;
    }
}
/*太空人手機版*/
@media (max-width:575px){
    .box_men{
        padding: 0;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .men_img{
        width: 45%;
    }
}
/*btn換色*/
.box_btn {
    text-align: center;
}

