@import "layout.css";
@import 'form_booking.css';

.available_sec1{
    margin: 100px auto;
    min-height: calc(100vh - 353px);
}
.available_sec1 h3{
    text-align: center;
}
.available_sec1 .shrink{
    display: none;
}
.breadcrumb{
    padding: 20px 14%;
}
.breadcrumb a{
    color:#8EDDF9
}
.breadcrumb a,.breadcrumb i{
    display: inline-block;
}
@media (min-width:768px){
    form{
        display: flex !important;
    }
}
@media (max-width:768px){
    .available_sec1{
        margin: 50px auto;
    }
    form{
        display: none;
    }
    .available_sec1 .shrink{
        display: block;
        text-align: center;
        margin-top: 50px;
        font-weight: bold;
        cursor: pointer;
    }
}
@media (max-width:575px){
    .available_sec1 .shrink{
        display: block;
    }
}
/*table*/
table.the{
    margin:40px auto;
    border-collapse:separate;
    border-spacing:10px 15px
}
table.the tr,table.the tr td{
    padding: 18px 12px;
    background-color: #ffffff20;
}
table.the th{
    font-size: 12px;
    color: #447884;
    text-align: left;
}
table.the tr td{
    border: 1px solid white;
}
table.the tr:first-child {
    background-color: transparent;
}
table.the tr td h4{
    display: none;
}
@media (min-width:576px) and (max-width:768px){
    table.the{
        margin: 15px;
        display: block;
        overflow-x: auto;
    }
    table.the tr,table.the tr td{
        padding: 2px 12px;
    }
}
@media (max-width:575px){
    table.the{
        width: 90%;
        border: none;
        display: flex;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    table.the tbody{
        margin-left: auto;
        margin-right: auto;
    }
    table.the th,table.the tr:first-child{
        display: none;
    }
    table.the tr,table.the tr td{
        display: block;
        padding: 6px 12px;
    }
    table.the tr{
        width: 100%;
        border: 1px solid white;
        margin:0 auto 15px auto;
    }
    table.the tr td{
        border: none;
    }
    table.the tr td + td {
        border: 1px solid #666;
    }
    table.the tr td::before{
        content: attr(data-th)' :  ';
        color: #447884;
        display: inline-block;
        width: 9em;
        text-align: right;
        padding-right: 6px;
    }
    table.the tr td:last-child{
        background-color: transparent;
    }
    table.the tr td:last-child::before{
        display: none;
    }
    table.the tr td button{
        display: block;
        margin: 10px auto;
    }
    table.the tr td h4{
        display: block;
        font-size: 14px;
        position: relative;
        z-index: 2;
    }
    table.the tr td button:hover h4{
        color: #FDD834;
    }
}

/*客製submit*/
table.the td:last-child{
    border: none; 
    padding: 0px; 
}
.tbl_btn button{
    min-width: 63px;
    padding: 15px;
    background-color: #FDD834;
    border: none;
    position: relative;
}
.tbl_btn button i{
    font-size:30px;
    color:white;
}
@media (max-width:575px){
    .tbl_btn button i{
        display: none;
    }
}

/*submit滑過*/
.tbl_btn button::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-color: black; 
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition:transform .2s;
}
.tbl_btn button:hover::before{
    transform: scaleY(1);
    border: 1px solid  #FDD834;
    width: calc( 100% - 2px );
    height: calc( 100% - 2px );;
}
.tbl_btn button:hover i{
    position: relative;
    color:#FDD834 ;
    z-index: 2;
}
.tbl_btn button a{
    padding: 0;
}
/* booking footer */
footer.fr_booking{
    position: relative;
    background: none;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    bottom: 0;
    left: 0;
}
footer.fr_booking a{
    font-weight: bold;
}
footer.fr_booking span{
    text-decoration: underline;
    color: #8EDDF9;
    cursor: pointer;
}
