@import "layout.css";

.available_sec1{
    margin: 100px auto;
    min-height: calc(100vh - 353px);
}
.available_sec1 h3{
    text-align: center;
}
.available_sec1 .shrink{
    display: none;
}
.breadcrumb{
    padding: 20px 14%;
}
.breadcrumb a{
    color:#8EDDF9
}
.breadcrumb a,.breadcrumb i{
    display: inline-block;
}

form{
    width: 80%;
    margin: 20px auto 0 auto;
    justify-content: center;
    padding: 5px;
}

form label {
    width: 21.5%;
    margin: 0 8px;
}
/*表單樣式統一*/
.custom_field input,.custom_select select,#ym{
    border: none;
    appearance: none;
    outline: none;
    background-color: #606060;
    padding: 20px;
    width: 100%;
    height: 63px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-repeat: no-repeat;
    background-position: right 12px bottom 18px;
    cursor: pointer;
}

/*客製表單:select*/
form select{
    background: none;
    font-size: 16px;
    background-image: url(../img/icon/arrowDown.svg);
    -webkit-appearance: none;
    border-radius: 0;
}
.custom_select{
    position: relative;
}
.custom_select .selectPlacehd{
    position: absolute;
    font-size: 10px;
    top:4px;
    left:20px 
}

/*客製表單:monthpicker*/
#ym{
    background-image: url(../img/icon/calendar.svg);
}
.monthPick{
    position: relative;
}
.monthPick span{
    position: absolute;
    font-size: 10px;
    top:4px;
    left:20px 
}

/*客製表單:價錢框*/
form .price p{
    font-size: 10px;
    margin: 0 8px;
    text-align: center;
}
form .price h3{
    font-size: 30px;
    color: white;
}
/*客製表單:input*/
.custom_field{
    position: relative;
    font-size: 16px;
}
.custom_field .placeholder{
    position: absolute;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition:
       top .3s ease, font-size .3s ease; 
}
.custom_field .kg_fixed{
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
    color: white;
}
.custom_field .alert{
    position: absolute;
    width: 14rem;
    font-size: 10px;
    color:white;
    background-color: #333;
    border-radius: 10px;
    padding: 8px;
    display: none;
}
@media (min-width:1024px){
    .custom_field,.custom_field .placeholder{
        font-size: 12px;
    }
    form{
        display: flex !important;
    }
}
@media (max-width:1200px){
    .custom_field .alert{
        margin: 0 auto;
    }
}
@media (max-width:768px){
    .custom_field .alert{
        margin: 0 auto;
    }
}
.custom_field input:valid+.placeholder,
.custom_field input:focus+.placeholder{
    font-size: 10px;
    top:10px;
    left:20px   
}

/*input number消除旁邊箭頭*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*客製表單:submit*/
.bookin_submit button{
    display: block;
    position: relative;
    width: 63px;
    height: 63px;
    margin: 0 auto;
    appearance: none;
    border: none;
    background-color: #606060;
    border: 1px solid white;
    opacity: .7;
}
.bookin_submit button h4{
    display: none;
}
.bookin_submit button::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 1;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition:transform .2s;
}
.bookin_submit button:hover:before{
    transition:transform .4s;
    transform-origin: 50% 100%;
    transform: scaleY(1);
}
.bookin_submit button:hover i{
    color: black;
    opacity: 1;
    transition: .2s;
}
.bookin_submit button i{
    position: absolute;
    font-size: 30px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: .7;
    z-index: 2;
    color: white;
}

/*sec1平板版*/
@media (max-width:1024px){
    form{
        display: block;
    }
    form > label{
        width: 42%;
        text-align: center;
        display: block;
        margin: 10px auto;
    }
    .custom_field input,.custom_select select,#ym{
        width: 100%;
    }
    .bookin_submit button{
        width: 120px;
        margin-top: 10px;
        text-align: center;
    }
    .bookin_submit button h4{
        display: block;
        font-size: 16px;
        color: white;
        position: absolute;
        z-index: 2;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .bookin_submit button:hover h4{
        color: black;
    }
    .bookin_submit button i{
        display: none;
    } 
}
@media (max-width:768px){
    .available_sec1,.available_sec1>h3{
        margin-top: 70px;
    }    
    form > label{
        width: 52%;
    }
   
}

/*sec1手機版*/
@media (max-width:575px) {
    
    .available_sec1 .shrink{
        text-align: center;
        display: block;
        cursor: pointer;
    }
    form{
        display: none;
    }
    form > label{
        width: 65%;
    }
    .custom_field input,.custom_select select,#ym{
        width: 100%;
    }
    .custom_field,.custom_field .placeholder{
        font-size: 12px;
    }
}


/*table*/
table.the{
    margin:40px auto;
    border-collapse:separate;
    border-spacing:10px 15px
}
table.the tr,table.the tr td{
    padding: 18px 12px;
    background-color: #ffffff20;
}
table.the th{
    font-size: 12px;
    color: #447884;
    text-align: left;
}
table.the tr td{
    border: 1px solid white;
}
table.the tr:first-child {
    background-color: transparent;
}
table.the tr td h4{
    display: none;
}
@media (min-width:576px) and (max-width:768px){
    table.the{
        margin: 15px;
        display: block;
        overflow-x: auto;
    }
    table.the tr,table.the tr td{
        padding: 2px 12px;
    }
}
@media (max-width:575px){
    table.the{
        width: 90%;
        border: none;
        display: flex;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    table.the tbody{
        margin-left: auto;
        margin-right: auto;
    }
    table.the th,table.the tr:first-child{
        display: none;
    }
    table.the tr,table.the tr td{
        display: block;
        padding: 6px 12px;
    }
    table.the tr{
        width: 100%;
        border: 1px solid white;
        margin:0 auto 15px auto;
    }
    table.the tr td{
        border: none;
    }
    table.the tr td + td {
        border: 1px solid #666;
    }
    table.the tr td::before{
        content: attr(data-th)' :  ';
        color: #447884;
        display: inline-block;
        width: 9em;
        text-align: right;
        padding-right: 6px;
    }
    table.the tr td:last-child{
        background-color: transparent;
    }
    table.the tr td:last-child::before{
        display: none;
    }
    table.the tr td button{
        display: block;
        margin: 10px auto;
    }
    table.the tr td h4{
        display: block;
        font-size: 14px;
        position: relative;
        z-index: 2;
    }
    table.the tr td button:hover h4{
        color: #FDD834;
    }
}

/*客製submit*/
table.the td:last-child{
    border: none; 
    padding: 0px; 
}
.tbl_btn button{
    min-width: 63px;
    padding: 15px;
    background-color: #FDD834;
    border: none;
    position: relative;
}
.tbl_btn button i{
    font-size:30px;
    color:white;
}
@media (max-width:575px){
    .tbl_btn button i{
        display: none;
    }
}

/*submit滑過*/
.tbl_btn button::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-color: black; 
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition:transform .2s;
}
.tbl_btn button:hover::before{
    transform: scaleY(1);
    border: 1px solid  #FDD834;
    width: calc( 100% - 2px );
    height: calc( 100% - 2px );;
}
.tbl_btn button:hover i{
    position: relative;
    color:#FDD834 ;
    z-index: 2;
}
.tbl_btn button a{
    padding: 0;
}
/* booking footer */
footer.fr_booking{
    position: relative;
    background: none;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    bottom: 0;
    left: 0;
}
footer.fr_booking a{
    font-weight: bold;
}
footer.fr_booking span{
    text-decoration: underline;
    color: #8EDDF9;
    cursor: pointer;
}
