@import 'layout.css';
/*----------section1----------*/
.book_sec1{
    position: relative;
    background-image: url(../img/book/bg_book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
.book_sec1 .title h3{
    margin-top: 120px;
}
main{
    width: 80%;
    margin: 0 auto;
}
main form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

form label {
    width: 21.5%;
    margin: 0 8px;
}
/*表單樣式統一*/
.custom_field input,.custom_select select,#ym{
    border: none;
    appearance: none;
    outline: none;
    background-color: #606060;
    padding: 20px;
    width: 100%;
    height: 63px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-repeat: no-repeat;
    background-position: right 12px bottom 18px;
    cursor: pointer;
    border-radius: 0;
}

/*客製表單:select*/
form select{
    background: none;
    font-size: 16px;
    background-image: url(../img/icon/arrowDown.svg);
    -webkit-appearance: none;
    border-radius: 0;
}
.custom_select{
    position: relative;
}
.custom_select .selectPlacehd{
    position: absolute;
    font-size: 10px;
    top:4px;
    left:20px 
}

/*客製表單:monthpicker*/
#ym{
    background-image: url(../img/icon/calendar.svg);
}
.monthPick{
    position: relative;
}
.monthPick span{
    position: absolute;
    font-size: 10px;
    top:4px;
    left:20px 
}

/*客製表單:價錢框*/
main form .price p{
    font-size: 10px;
    margin: 0 8px;
}
main form .price h3{
    font-size: 30px;
    color: white;
}
/*客製表單:input*/
.custom_field{
    position: relative;
    font-size: 16px;
}
.custom_field .placeholder{
    position: absolute;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition:
       top .3s ease, font-size .3s ease; 
}
.custom_field .kg_fixed{
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
    color: white;
}
.custom_field .alert{
    position: absolute;
    width: 14rem;
    font-size: 10px;
    color:white;
    background-color: #333;
    border-radius: 10px;
    padding: 8px;
    display: none;
}
@media (min-width:1024px){
    .custom_field,.custom_field .placeholder{
        font-size: 12px;
    }
}
@media (max-width:1200px){
    .custom_field .alert{
        margin: 0 auto;
    }
}
@media (max-width:768px){
    .custom_field .alert{
        margin: 0 auto;
    }
}
.custom_field input:valid+.placeholder,
.custom_field input:focus+.placeholder{
    font-size: 10px;
    top:10px;
    left:20px   
}

/*input number消除旁邊箭頭*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*客製表單:submit*/
.bookin_submit button{
    display: block;
    position: relative;
    width: 63px;
    height: 63px;
    margin: 0 auto;
    appearance: none;
    border: none;
    background-color: #606060;
    border: 1px solid white;
    opacity: .7;
}
.bookin_submit button h4{
    display: none;
}
.bookin_submit button::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 1;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition:transform .2s;
}
.bookin_submit button:hover:before{
    transition:transform .4s;
    transform-origin: 50% 100%;
    transform: scaleY(1);
}
.bookin_submit button:hover i{
    color: black;
    opacity: 1;
    transition: .2s;
}
.bookin_submit button i{
    position: absolute;
    font-size: 30px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: .7;
    z-index: 2;
    color: white;
}
.book_sec1 i.fa-angle-down{
    position: absolute;
    bottom:100px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
    opacity: 1;
    animation:goDown 2s ease infinite;
}

@keyframes goDown{
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(30px);
        opacity: 1;
    }
}
/*sec1平板版*/
@media (max-width:1024px){
    main form{
        display: block;
    }
    main form > label{
        width: 42%;
        text-align: center;
        display: block;
        margin: 10px auto;
    }
    .custom_field input,.custom_select select,#ym{
        width: 100%;
    }
    .bookin_submit button{
        width: 120px;
        margin-top: 10px;
        text-align: center;
    }
    .bookin_submit button h4{
        display: block;
        font-size: 16px;
        color: white;
        position: absolute;
        z-index: 2;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .bookin_submit button:hover h4{
        color: black;
    }
    .bookin_submit button i{
        display: none;
    } 
}
@media (max-width:768px){
    .book_sec1 .title h3{
        margin-top: 70px;
    }    
    main form > label{
        width: 52%;
    }
   
}
/*sec1手機版*/
@media (max-width:575px) {
    main{
        width: 100%;
    }
    main form > label{
        width: 65%;
    }
    .custom_field input,.custom_select select,#ym{
        width: 100%;
    }
}
/*----------section2----------*/
.box_benefit{
    display: flex;
    justify-content: space-around;
    padding: 100px 80px;
}
.box_benefit .benefit{
    width: 30%;
    padding: 10px 15px;
}
.box_benefit .benefit .b_img{
    display: flex;
}
.box_benefit .benefit .b_img h4{
    align-self: center;
}
.box_benefit .benefit img{
   width: 85px;
   height: 85px;
   margin: 20px auto;
}
/*sec2平板版*/
@media (max-width:768px){
    .box_benefit{
        flex-wrap: wrap;
        padding: 70px 40px;
    }
    .box_benefit .benefit{
        width: 95%;
    }
    .box_benefit .benefit img{
        width: 70px;
        margin: 10px 5px;
    }
}
/*sec2手機版*/
@media (max-width:575px){
    .box_benefit{
        flex-wrap: wrap;
        padding: 40px 20px;
    }
}

