@import 'layout.css';
.contact_sec1{
    margin: 100px auto;
    min-height: 100vh;
}
.contact_sec1 h3{
    text-align: center;
}
.contact_sec1 h4{
    font-size: 16px;
    margin-top: 20px;
}
main>p {
    display: none;
}
@media (max-width:768px){
    .contact_sec1{
        margin: 50px auto;
    }
}
/* 麵包屑 */
.breadcrumb{
    padding: 20px 14%;
    color:#8EDDF9 ;
}
.breadcrumb a,.breadcrumb i{
    display: inline-block;
    color:white
}

/*table*/
table{
    margin:0px auto;
    border-collapse:separate;
    border-spacing:10px 15px
}
table tr,table tr td{
    padding: 18px 12px;
    background-color: #ffffff20;
}
table th{
    font-size: 12px;
    color: #447884;
    text-align: left;
}
table tr td{
    border: 1px solid white;
}
table tr:first-child {
    background-color: transparent;
}

@media (max-width:768px){
    table{
        display: none;
    }
    main>p {
        display: block;
        text-align: center;
    }
}
@media (max-width:575px){
    main>p{
        width: 90%;
        margin: 0 auto;
    }
}
/* 表單 */
form{
    position: relative;
    width: 72.5%;
    margin:0 auto 40px auto;
    border: 1px solid transparent;
}
form label{
    display: block;
    position: relative;
    display: inline-block;
    margin-top: 15px;
    width: 47%;
    margin-right: 20px;
}
form label:last-of-type{
    width:96.5%
}
form span{
    position: absolute;
    font-size: 12px;
}
form input{
    width: 100%;
    font-size: 16px;
    background-color: #333;
    border: 1px solid #999;
    padding: 10px 8px ;
    color:white;
    margin:1rem 5px 0 0;
    outline: none;
    margin-top: 15px;
}
/*input斷點版*/
@media (max-width:768px){
    form{
        width: 80%;
    }
    form label{
        width: 48%;
    }
    form label:nth-of-type(2n){
        margin-right:0px;
    }
    form label:last-of-type{
        width: 100%;
    }
}
@media (max-width:575px){
    form{
        width: 85%;
    }
    form label{
        width: 100%;
    }
}
form .item input.ipt_name{
    width: 97%;
}
form input:focus, form select:focus{
    border: 1px solid #8EDDF9;
}

/*input number消除旁邊箭頭*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* 表單內其餘樣式 */
.above h4, .below h4{
    margin-bottom: 15px;
}
.above span,.below span{
    position: static;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.above, .below{
    margin-top: 40px;
}
.above p, .below p{
    width: 97%;
}
.above .btn_level3, .below .btn_level3{
    margin: 25px 0;
}
.above .btn_level3{
    width: 113px;
}
.below{
    margin-bottom: 40px;
}
.below .btn_level3{
    margin-right: 30px;
}
button.btn_level1{
    position: absolute;
    bottom: 0px;
    right: 23px;
}
@media (max-width:575px){
    .below .btn_level3{
        margin-right: 0px
    }
    .below .btn_level3:nth-of-type(1){
        margin-right: 10px
    }
    
    button.btn_level1{
        right: 0;
    }
}
@media (max-width:370px){
    .below .btn_level3:nth-of-type(1){
        margin: 0;
    }
}

/*勾選同意button樣式*/
.-checked.btn_level3::after{
    width: 145%;
}
.-checked.btn_level3{
    padding: 15px 20px;
    width: 113px;
}

/* booking footer */
footer.fr_booking{
    position: relative;
    background: none;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    left: 0;
    bottom: 0;
}
footer.fr_booking a{
    font-weight: bold;
}
footer.fr_booking span{
    text-decoration: underline;
    color: #8EDDF9;
    cursor: pointer;
}