@import url(../vendors/hamburgers.css);
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family:'h2';
    src: url(../font/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family:'regular';
    src: url(../font/Ubuntu-Regular.ttf);
}
@font-face {
    font-family:'bold';
    src: url(../font/Ubuntu-Bold.ttf);
}
html,body {
    background-color: black;
    color: white;
    hyphens: auto;
    font-family: 'Ubuntu', sans-serif;
}

body a {
    text-decoration: none;
    color: white;
}

section img,
section a {
    display: block;
}
section h2{
    font-family:'h2';
    font-size: 9.5vw;
    color: white;
}
section h3 {
    font-size: 38px;
    font-weight: bold;
    color: #8EDDF9
}

section h4 {
    font-family: 'bold';
    font-size: 20px;
}

section p {
    font-family:'regular';
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

button a {
    font-family:'regular';
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
}
/*字體斷點*/
@media (min-width:768px) and (max-width:991px){
    section h3{
        font-size: 32px;
    }
}
@media (max-width:768px){
    section h3{
        font-size: 28px;
    }
    section h2{
        font-size: 78px;
    }
}
@media (max-width:575px){
    section h2{
        font-size: 48px;
    }
}
/*第一級buton*/
.btn_level1 {
    background-color: #FDD834;
    box-shadow: 2px 2px 3px #FDD834;
    border: none;
}
.btn_level1:hover{
    opacity: .8;
}

/*第二級button滑過特效*/
.btn_level2, .btn_level3 {
    background-color: transparent;
    border: 3px solid #8EDDF9;
    filter: drop-shadow(2px 2px 3px #8EDDF9);
    position: relative;
    overflow: hidden;
}

.btn_level2 a {
    color: #8EDDF9;
    text-decoration: none;
    transition: .3s;
}

.btn_level2::after, .btn_level3::after {
    content: "";
    display: block;
    background-color: #8EDDF9;
    height: 100%;
    left: -45%;
    position: absolute;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.4s;
    transform-origin: top left;
    width: 0;
    z-index: -1;
}

.btn_level2 a:hover,.btn_level3 a:hover {
    color: black
}

.btn_level2:hover:after,.btn_level3:hover:after {
    height: 100%;
    width: 145%;
}

/*btn層級3換色*/
.btn_level3 {
    margin: 50px auto;
    border: 3px solid #FDD834;
    filter: drop-shadow(2px 2px 3px #FDD834);
}

.btn_level3 a {
    color: #FDD834;
}

.btn_level3::after {
    background-color: #FDD834;
}
/*----------header區----------*/
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    height: 80px;
    font-size: 0px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: flex;
    /*讓ul和logo橫向排列(items沿主軸排列)*/
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
}

header img {
    height: 23px;
    margin-right: 8rem;
}

header li a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

header li a:hover .absolute{
    letter-spacing: 1px;
    transition: all .6s;
    transform: translateY(-4px);
}
.-on{
    letter-spacing: 1px;
    transform: translateY(-4px); 
}

header li a div {
    padding: 10px 15px;
}

header li a .absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*漢堡按鈕*/
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color:white
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background-color:white
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 20px;
    height: 2px;
}
header button.hamburger{
    position: absolute;
    right:10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9 !important;
    display: none;
}
.hamburger-box{
    width: 20px;
    height: 16px;
}
.hamburger-inner::before{
    top:-7px;
}
.hamburger--collapse .hamburger-inner::after{
    top:-14px;
}
/*響應式header*/
@media (max-width:1199px){
    header{
        height: 60px;
    } 
    header img{
        margin-right: 0px;
    }
}
@media (max-width:991px){
    header ul {
        display: none;
    }
    header button.hamburger{
        display: block;
    }
}
/*側邊選單區*/
.bg_menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(2, 2, 2,0.3);
    z-index: 3;
    transition: all 2s;
    display: none;
    /* z-index: 0; */
}
aside{
    width: 300px;
    height: 100%;
    padding-top: 80px;
    background-color: black;
    position: fixed;
    right: -100%;
    top: 0px;
    /* transform: translateX(100%); */
    z-index: 4;
    transition: all 1s;
}
aside ul{
    list-style-type: none;
    text-align: right;
    margin-right: 25px;
}
aside ul li{
    opacity: 0;
}
aside ul a{
    padding: 10px 0;
    display: block;
}
aside ul a:hover{
    letter-spacing: 2px;
    transition: 1.5s;
}


/*----------footer----------*/
footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
    background-image: url(../img/index/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    overflow: hidden;
}

footer .fr_top,
footer .fr_list>ul {
    display: flex;
}

footer .fr_top {
    margin-bottom: 40px;
    justify-content: space-around;
    padding: 0px 45px 0px 120px;
}

footer .fr_top img {
    height: 23px;
    transform: translateY(3px);
}

footer .fr_top p {
    font-weight: 300;
    font-size: 14px;
    align-self: center;
}

.fr_top .email {
    width: 35%;
    position: relative;
}

.fr_top input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
    border: 1px solid #8EDDF9;
    border-radius: 30px;
    outline: none;
    color: white;
   
}

.fr_top button {
    width: 25%;
    padding: 10px 10px;
    border-radius: 30px;
    border: none;
    background-color: #8EDDF9;
    border: 1px solid #8EDDF9;
    /* transform: translateX(-100%); */
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: .5s;
    position: absolute;
    right: 0;
    top: 0;
}

/*subscribe動畫class*/
.fr_top button.submitMove {
    width: 40px;
    transition: .5s;    
}

footer .fr_list>ul {
    justify-content: space-around;
    padding-left: 291px;
    padding-right: 150px;
    margin-top: 60px;
}

footer .fr_list li {
    list-style: none;
    padding: 2px 0px;
}
footer ul li ul li:first-of-type{
    margin-top: 10px;
}
footer .fr_list li>a {
    font-size: 14px;
    font-weight: bold;
}

.fr_list li ul li a {
    font-weight: 300;
}

footer .fr_icons {
    text-align: center;
    font-size: 20px;
}

footer .fr_icons .fab {
    margin: 10px 15px;
}

footer .fr_p {
    font-size: 10px;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
@media (min-width:992px) and (max-width:1199px){
    footer .fr_top{
        margin-bottom: 0px;
        padding: 0px;
    }
    footer .fr_list>ul{
        margin-top: 10px;
    }
}
@media (max-width:991px){
    footer .fr_top img{
        display: none;
    }
    footer .fr_top{
        margin-bottom: 0px;
        padding: 0px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    footer .fr_top p,.fr_top .email{
        display: inline-block;
    }
    footer .fr_list>ul{
        margin-top: 10px;
        padding-left: 0;
        padding-right:0;
        width: 80%;
        margin: 0 auto;
    }
    .fr_top .email{
        width: 35%;
    }
    footer .fr_p{
        width:80%;
    }
}
@media (min-width:576px) and (max-width:768px){
    footer .fr_top p,.fr_top .email{
        display:block;
    }
    .fr_top .email{
        margin: 0 auto;
        width: 50%;
    }
    footer .fr_list>ul,footer .fr_p{
        width: 90%;
    }
}
@media (max-width:575px){
    footer{
        background-size: cover;
    }
    footer .fr_top .email{
        width: 90%;
        margin-bottom: 10px;
    }
    footer .fr_list>ul{
        text-align: center;
    }
    footer .fr_list li a{
        font-size: 12px;
    }
    footer .fr_list ul li li{
        display: none;
    }
    footer .fr_p{
        width: 90%;
    }
}