@import 'layout.css';
.pay_sec1{
    margin: 100px 0 120px 0;
    min-height: calc(100vh - 373px);
}
.pay_sec1 h3{
    text-align: center;
}
.pay_sec1>p{
    display: none;
}
@media (max-width:768px){
    .pay_sec1{
        margin-top: 50px;
    }
}

/* 麵包屑 */
.breadcrumb{
    padding: 20px 14%;
    color:#8EDDF9 ;
}
.breadcrumb a,.breadcrumb i{
    display: inline-block;
    color:white
}

/*table*/
table{
    margin:0px auto;
    border-collapse:separate;
    border-spacing:10px 15px
}
table tr,table tr td{
    padding: 18px 12px;
    background-color: #ffffff20;
}
table th{
    font-size: 12px;
    color: #447884;
    text-align: left;
}
table tr td{
    border: 1px solid white;
}
table tr:first-child {
    background-color: transparent;
}

@media (max-width:768px){
    table{
        display: none;
    }
    .pay_sec1{
        margin-bottom: 120px;
    }
    .pay_sec1>p {
        display: block;
        text-align: center;
    }
}
@media (max-width:575px){
    .pay_sec1>p{
        width: 90%;
        margin: 0 auto;
    }
}


/*總計*/
.total_number{
    width: 15rem;
    margin: 0 auto;
}
.total_number i,.no1 p,
.no2 span,.no2 + p,
.no3 p,.pay_number p,
.pay_number span{
    font-weight: bold;
}
.no1 p,
.no2 h3,.no2 span,
.no3 p,.pay_number p{
    font-size: 20px;
}

.total_number i,
.no1 p,.no2 h3,
.no2 span,.no3 p,
.no3 span,.pay_number p,
.pay_number span{
    display: inline-block;
}
.no2 span,
.no3 span,
.pay_number span{
    font-size: 14px;
}
.no1 p{
    margin: 10px 0;
}
.no2 h3,.no2 span,.no2 i{
    color:#8EDDF9 ;
}
.pay_number p, 
.pay_number span,
.pay_number i{
    color: #FDD834;
}
.pay_number p {
    margin-top: 20px;
    position: relative;
}
.pay_number p::before{
    content: "";
    display: block;
    width: 14rem;
    height: 1.7rem;
    border-top: #707070 1px solid;
    position: absolute;
    bottom: 0px;
    left: -14px;
}


/* 卡片區 */
.cards{
    width: 70%;
    display: flex;
    justify-content:space-around;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}
.cards .creditCard{
    border: 1px solid #707070;
    width:260px ; 
}
.creditCard img{
    margin: 20px auto 0px auto;
    height: 62px;
}
.creditCard button{
    margin: 20px;
}
.creditCard:hover{
    background-color: #8edcf931;
}
/* 卡片區斷點版 */
@media (min-width:576px) and (max-width:768px){
    .cards{
        width: 90%
    }
}
@media (max-width:575px){
    .cards{
        flex-wrap: wrap;
    }
    .cards .creditCard{
        margin-top: 10px;
    }
}

/* 表單區 */
form{
    width: 53%;
    margin: 40px auto 50px auto;
    position: relative;
}

form input, form select{
    padding: 15px;
    font-size: 16px;
    background-color:#707070;
    color: white;
    border: 1px solid white;
    outline: none;
    margin-top: 15px;
    /* position: relative; */
}

form input:focus, form select:focus{
    border: 1px solid #8EDDF9;
}

form span{
    font-size:12px;
    position: absolute;
    color:#CBC9C9;
}

form .item{
    position: relative;
    display: flex;
    margin-top: 10px;
}

.-error{
    border: 1px solid red !important;
}
form button{
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    color:white;
    background-color: #FDD834;
    box-shadow: 2px 2px 3px #FDD834;
    border: none;
    cursor: pointer;
}
form button:hover{
    opacity: .8;
}

/* 表單區斷點版 */
@media (min-width:576px) and (max-width:768px){
    form{
        width: 90%;
    }
}
@media (max-width:575px){
    form{
        width: 90%;
    }
}

.item:nth-of-type(1) input{
    width: calc( 79.5% / 4 );
    margin-right: 5px;
    margin-left: 2px;
}
.item:nth-of-type(1) input:first-of-type{
    margin-left: 0;
}
.item:nth-of-type(2) label{
    width:100%
}
.item:nth-of-type(2) input{
    width: 91.5%;
}
.item:nth-of-type(3) label:nth-of-type(1){
    width: 66.666666%;
}
.item:nth-of-type(3) .select_month,.item:nth-of-type(3) .select_year{
    width: 39%;
    margin-right: 10.3%;
}
.item:nth-of-type(3) label:last-of-type{
    width: 33.333333%;
}
.item:nth-of-type(3) select{
    width: 100%;
}
.item:nth-of-type(3) input{
    width: 74.5%;
}
.select_month, .select_year{
    position: relative;
    display: inline-block;
}
.select_month span, .select_year span{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 0%);
    font-weight: bold;
}
form button{
    position: absolute;
    right: 0;
    bottom: -70px;
}
@media (min-width:576px) and (max-width:768px){
    .item:nth-of-type(1) input{
        width:calc( 65% / 4 ); ;
    }
    .item:nth-of-type(2) input{
        width: 77%;
    }
    .item:nth-of-type(3) label:nth-of-type(1){
        width: calc(51.3333333% + 46px);
    }
    .item:nth-of-type(3) label:last-of-type{
        width: 25.6666667%;
    }
    .item:nth-of-type(3) select{
        width: 100%;
    }
    .item:nth-of-type(3) input{
        width: 74.5%;
    }
    form button{
        display: block;
        right: 0;
        bottom: 0;
    }
}
@media (max-width:575px){
    form input, form select{
        padding: 5px;
    }
    .item:nth-of-type(1) input{
        width:calc( (100% - 81px) / 4 );
    }
    .item:nth-of-type(1) input:last-of-type{
        margin-right: 0;
    }
    .item:nth-of-type(2) input,.item:nth-of-type(2) label{
        width: 100%
    }
    .item:nth-of-type(3) label:nth-of-type(1){
        width: 65%;
        display: inline-block;
    }
    .item:nth-of-type(3) label:last-of-type{
        display: inline-block;
        width: 33%;
    }
    .item:nth-of-type(3) .select_month, .item:nth-of-type(3) .select_year{
        margin-right: 10%;
    }
    .item:nth-of-type(3) {
        display: block;
    }
    .item:nth-of-type(3) select{
        width: 100%;
    }
    .item:nth-of-type(3) input{
        width: 100%;
    }
    form button{
        right: 0px;
        bottom: -70px;
        }
}

/*input number消除旁邊箭頭*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/* select換圖 */
form select{
    appearance: none;
    background-image: url(../img/icon/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
}
@media (max-width:575px){
    form select{
        background-position: right 2px bottom 3px;
    }
}


/* booking footer */
footer.fr_booking{
    position: relative;
    background: none;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    bottom: 0;
    left: 0;
}
footer.fr_booking a{
    font-weight: bold;
}
footer.fr_booking span{
    text-decoration: underline;
    color: #8EDDF9;
    cursor: pointer;
}