@import 'layout.css';
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.planet_list{
    width: 75%;
    display: flex;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    display: none;
}
.planet_item{
    width: calc( 100% / 4 );
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
    background-size: cover;
    text-shadow: 0px 0px 3px #333;
    cursor: pointer;
}
.planet_item:first-child{
    background-image: url(../img/route/moon/clkMoon.jpg);
}
.planet_item:nth-child(2){
    background-image: url(../img/route/mars/clkMars.png);
}
.planet_item:nth-child(3){
    background-image: url(../img/route/jupiter/clkJuniper.jpg);
}
.planet_item:last-child{
    background-image:url(../img/route/saturn/clkSaturn.png);
}
.planet_item:hover{
    opacity: .8;
}
@media (max-width:768px){
    .planet_list{
        display: flex;
    }
}
@media (max-width:575px){
    .planet_list{
        width: 90%;
    }
}

/*介紹文字區*/
.introWord {
    margin-top: 100px;
    width: 75%;
    top:0px;
    left: 0px;
    transform: translate(50% 50%);
    margin-left: 130px;
    padding: 8px 16px;
    display: none;
    transition: all .5s;
}

.introWord--show{
    top: 10vw;
    display: block;
}
.wordBox{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.wordBox h3{
    margin-bottom: 30px;
}
.gragh_box{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 77%;
    margin: 0 auto;
}
.gragh_box .gbox{
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    width: 9rem;
    height: 11rem;
    padding: 20px;
    text-align: center;
}
.gbox h4{
    font-size: 30px;
    margin: 2rem 0;
}
.gbox::after{
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    top: 0px;
    left: 0px;
    border: 3px solid white;
    filter: drop-shadow(2px 2px 3px white);
    z-index: -1;
}
.gbox:nth-of-type(1) h4{
    font-size: 22px;
    margin: 2.2rem 0;
}
.row{
    width: 77%;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    padding: 20px;
}
.row:last-child{
    flex-direction: row-reverse;
    margin-top: 20px;
}

.row img{
    width: 297px;
    height: auto;
    align-self: flex-end;
}
.moon img,.mars img{
    align-self: center;
}

.row h4{
    color:#8EDDF9 ;
    margin-bottom: 20px;
}

.row .word{
    margin-left: 10px;
}

@media (min-width:576px) and (max-width:768px){
    .introWord{
        margin: 0 auto;
        margin-top: 50px;
        padding: 0;
    }
    .wordBox{
        width: 100%;
    }
    .gragh_box{
        margin: 0;
        padding: 0;
        width: 100%;
        flex-wrap: wrap;
    }
    .gragh_box .gbox {
        margin: 10px 3% 10px 3%;
        width: 40%;
    }
    .row{
        width: 100%;
        flex-wrap: wrap;
        padding-top: 0;
    }
    .row .word{
        width: 80%;
    }
    .row:last-of-type{
        margin-bottom: 50px;
    }
    .row img{
        width: 80%;
        margin-top: 15px;
    }
}
@media (max-width:575px){
    .introWord{
        margin: 50px auto 50px auto;
        padding: 0;
        width: 100%;
    }
    .wordBox{
        width: 90%;
    }
    .gragh_box{
        margin: 0;
        padding: 0 4.5%;
        width: 100%;
        flex-wrap: wrap;
    }
    .gragh_box .gbox{
        width: 40%;
        height: 9rem;
        margin-bottom: 15px;
    }
    .gbox h4,.gbox:nth-of-type(1) h4 {
        margin: 1rem 0;
    }
    .row{
        width: 100%;
        flex-wrap: wrap;
        padding-top: 0;
    }
    .row .word{
        margin: 0 auto 15px auto;
    }
    .row img{
        width: 100%;
    }
}

/*圓形輪播!!!絕對不可以刪*/
#blade{
    position: relative;
    display: flex;
}
.circle-carousel { 
    width: 600px; 
    height: 600px; 
    position: absolute; 
    right: -320px;
    top:-70px;
    transform: translateY(-50px);
    transition: transform .5s;
    cursor: pointer;
}
.circle-carousel__item{
    width: 150px; 
    height: 150px; 
    position: absolute; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 20px; 
    /* color: #fff;  */
    transition: all .5s; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.active{
    transform: scale(1.8);
    filter: drop-shadow(2px 2px 3px #FDD834);
}
.circle-carousel img{
    width: 100%;
    height: auto;
    transition: transform .5s;
}

@media (max-width:768px){
    .circle-carousel{
       display: none;
    } 

}
