@import 'layout.css';
.seat_sec1{
    margin: 100px 0 100px 0;;
}
.seat_sec1 h3{
    text-align: center;
}
/*table*/
table{
    margin:0px auto;
    border-collapse:separate;
    border-spacing:10px 15px
}
table tr,table tr td{
    padding: 18px 12px;
    background-color: #ffffff20;
}
table th{
    font-size: 12px;
    color: #447884;
    text-align: left;
}
table tr td{
    border: 1px solid white;
}
table tr:first-child {
    background-color: transparent;
}
/*svg*/
.img_svg{
    width: 25%;
    height: 25%;
}
.cls-2:hover{
    fill:#FDD834;
    cursor: pointer;
}
.-un{
    stroke: #606060 !important;
    fill: #4d4d4d !important;
    cursor: not-allowed !important;
}


/* booking footer */
footer.fr_booking{
    background: none;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
footer.fr_booking a{
    font-weight: bold;
}
footer.fr_booking span{
    text-decoration: underline;
    color: #8EDDF9;
    cursor: pointer;
}